{% extends "home/index.html" %}
{% load static %}
{% block content %}
    <section class="galeria" style="margin-left: 5em">
        <form action="{% url "usuarios:cadastro" %}" method="POST">
            {% csrf_token %}
            <div class="row">
                {% for field in form.visible_fields %}
                <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                    <label for="{{field.id_for_label}}" style="color:#D9D9D9; margin-bottom: 5px;"><b>{{field.label}}</b></label>
                    {{field}}
                    <ul class="list-unstyled">
                        {% for help in field.help_text %}
                        <li>
                            <small class="form-text text-muted">
                                {{help}}
                            </small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                
                <div class="col-12 text-center">
                    <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Criar sua conta</button>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}