{% extends "index.html" %}
{% load static %}  

{% block content %}
    <section class="conteudo">
        <section class="imagem">
            <div class="imagem__conteudo">
                {% if item.foto %}
                    <img class="card__imagem" src= "{{item.foto.url}}" alt="{{item.descricao}}">
                {% else %}
                    <img class="card__imagem" src= {% static "/assets/imagens/galeria/not-found.png" %}
                        alt="Imagem não encontrada">
                {% endif %}
                <div class="imagem__info">
                    <div class="imagem__texto">
                        <p class="imagem__titulo">{{item.nome}}</p>
                        <p class="imagem__descricao">{{item.legenda}}</p>
                        <p class="imagem__texto">{{item.descricao}}</p>
                    </div>
                    <div>
                        <a href="{% url "home:editar-imagem" item_id %}">
                            <button class="btn btn-success" style="padding: top 5px;" type="text">
                                editar
                            </button>
                        </a>
                        <a href="{% url "home:deletar-imagem" item_id %}">
                            <button class="btn btn-danger" style="padding: top 5px;" type="text">
                                deletar
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock content %}