{% load static %}  

<!DOCTYPE html>
<html lang="pt-br">
{% include "home/partials/_head.html" %}
<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src={% static "/assets/logo/Logo(2).png" %} alt="Logo da Alura Space" />
            {% for message in  messages%}
                <div class="message message-primary">
                    <p id="message" >{{message}}</p>
                </div>
            {% endfor %}
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <form  class="busca__fundo" action="{% url "home:buscar" %}" method="GET">
                        <input class="busca__input" type="text" placeholder="O que você procura?" name='buscar'>
                        <button type="submit"  class="busca__icone">
                            <img class="busca__icone" src= {% static "/assets/ícones/1x/search.png" %}  alt="ícone de search">
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <main class="principal">
            {% include "home/partials/_menu.html" %}
            {% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src= {% static "/assets/imagens/Banner(2).png" %} alt="banner Alura Space">
                    <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">
                            <a href="{% url "home:tag" 'Nebulosa' %}">Nebulosa</a>
                        </li>
                        <li class="tags__tag">
                            <a href="{% url "home:tag" 'Estrela' %}">Estrela</a>
                        </li>
                        <li class="tags__tag">
                            <a href="{% url "home:tag" 'Galaxia' %}">Galáxia</a>
                        </li>
                        <li class="tags__tag">
                            <a href="{% url "home:tag" 'Planeta' %}">Planeta</a>
                        </li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                            {% if content %}
                            {% for item in content %}
                            <li class="card">
                                <a href={% url "home:imagem" item.id %}>
                                    {% if item.foto.url %}
                                        <img class="card__imagem" src= "{{item.foto.url}}" alt="{{item.descricao}}">
                                    {% else %}
                                        <img class="card__imagem" src= {% static "/assets/imagens/galeria/not-found.png" %}
                                            alt="Imagem não encontrada">
                                    {% endif %}
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{item.nome}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{item.legenda}}</p>
                                        <span>
                                            <img src={% static "/assets/ícones/1x/favorite_outline.png" %} alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <p class="card__texto">Não há itens para exibir</p>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
            {% endblock content %}
        </main>
    </div>
    {% include "home/partials/_footer.html" %}
</body>
</html>